<%- include('../partials/header') -%>
<div class="container">
    <main class="form-signin w-50 m-auto">
        <form action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal">Connexion</h1>
            <% if(error && error === "session"){ %>
                <span class="text-danger">Session expired</span>
            <% } %>
            <% if(error && error === "connected"){ %>
                <span class="text-danger">Please login</span>
            <% } %>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" value=""/>
                <label for="email">Email</label>
                <% if(error && error === "email"){ %>
                    <span class="text-danger">L'email n'existe pas</span>
                <% } %>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="password" name="password" value=""/>
                <label for="password">Password</label>
                <% if(error && error === "password"){ %>
                    <span class="text-danger">Mot de passe incorrect</span>
                <% } %>  
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
        </form>
    </main>
</div>
<%- include('../partials/footer') -%>