<%- include('../partials/header') -%>
<div class="container">
    <h3>Résultats</h3>
    <a href="/reset">Reset</a>
    <% if(pastries && pastries.length > 0){ %>
    <ul>
        <% pastries.forEach(function(pastrie) { %>
            <li><%= pastrie.name %> : le <%= pastrie.created_at.toLocaleDateString("fr-FR"); %></li>
        <% }); %> 
    </ul>
    <% } %>
</div>
<%- include('../partials/footer') -%>